.slick-slider .banner {
    width:90%;
    height: 100%;


;
    opacity: 0.5;
    padding: 10px;
    

}

.slick-center {

    opacity: 1;
    padding: 10px;
    z-index: 5000;
}

.slick-center .banner {

    opacity: 1;
    padding: 10px;
}

.slick-slider {
    width: 70vw;
    margin-left: -36%;
    align-content: center;
    text-align: center;
}

.slick-track {
    margin: auto;
    height: 180px;
}


.slick-prev::before,
.slick-next::before {

    opacity: 0;
    display: none;
}