.slick-slider .banner {
    width:95%;
    height: 100%;
    opacity: 0.4;

    

}

.slick-center {

    opacity: 1;
   margin: 10px; 

}

.slick-center .banner {

    opacity: 1;
    
}

.slick-slider {
    width: 85vw;
    margin-left: -51%;
    align-content: center;
    text-align: center;
}

.slick-track {
    
    margin: -10px;
    height: 200px;
}


.slick-prev::before,
.slick-next::before {

    opacity: 0;
    display: none;
}