.slick-slider .banner {
     width:80%;
    height: 80%;
    opacity: 0.4; 

    

}
.slick-center {

     opacity: 1;
    margin-left: 10px; 
    margin-right: 10px;  

}
.slick-center .banner {

    opacity: 1;
    
}
.slick-slider {
    width: 80vw;
    height: 450px;
    margin-left: -45%;
    align-content: center;
    text-align: center;
}
.slick-dots{
    margin-bottom: 80px;
}
.slick-track {
    
    margin-left: -30px;
    height: 500px; 


}