.label{
    text-align: right;
    
}
.btn_login,.btn_join, .btn_info_edit, .btn_upload, .btn_del, .btn_edit, .btn_comDel{
    padding: 5px;
    background-color: #FE8F8D;
    margin-top: 20px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    border: 0px;
    border-radius: 10px;
}