.label{
    text-align: right;
    
}
.btn_login, .btn_info_edit, .btn_upload, .btn_del, .btn_edit{
    padding: 5px;
    background-color: #BB2649;
    margin-top: 20px;
    color: white;
    font-size: 15px;
    border: 0px;
    border-radius: 10px;
}